<h1>Welcome {{name}}</h1>

<p>Next Lunchclub is on: {{date}} </p>
<p>{{chef}} will be cooking</p>

<div>
  <h3>Will you be attending?</h3>
  <button>YES</button>
  <button>NO</button>
</div>


<!--<h1>{{name}}</h1>
<p>Your email is {{email}}</p>
<p>Address is: {{address.street}}, {{address.city}}, {{address.country}} </p>
<button (click)="toggleHobbies()">{{showHobbies ? "Hide Hobbies" : "Show Hobbies"}}</button>
<div *ngIf="showHobbies">Hobbies:
  <ul>
    <li *ngFor="let hobby of hobbies; let i = index"> {{hobby}} <button (click)="deleteHobby(i)">Delete Hobby</button></li>
  </ul>
  <form (submit)="addHobby(hobby.value)">
    <label> Add Hobby: </label> <br />
    <input type="text" #hobby /><br />
  </form>
</div>
<form>
  <label> Name: </label> <br />
  <input type="text" name="name" [(ngModel)]="name"><br />
  <label> Email: </label> <br />
  <input type="text" name="email" [(ngModel)]="email"><br />
  <label> Street: </label> <br />
  <input type="text" name="address.street" [(ngModel)]="address.street"><br />
  <label> City: </label> <br />
  <input type="text" name="address.city" [(ngModel)]="address.city"><br />
</form>
<hr />
<h3>Posts </h3>
<div *ngFor="let post of posts">
  <h4>{{post.title}}</h4>
  <p>{{post.body}}</p>
</div>-->