<loading-animate></loading-animate>

  <!--<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li *ngIf="usersServices.isLoggedIn" class="nav-item">
        <a class="nav-link" routerLink="/employees">Employees</a>
      </li>
      <li *ngIf="usersServices.isLoggedIn && (usersServices.userInfo)?.admin" class="nav-item">
        <a class="nav-link btn primary-btn" routerLink="/create-lunch">Create Lunch</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="isLoggedIn" class="nav-item">
        <a class="nav-link" href="#">{{ (usersServices.userInfo)?.FirstName }} {{ (usersServices.userInfo)?.LastName }}</a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>-->


<router-outlet></router-outlet>
<!--
<footer>
   <div *ngIf="isLoggedIn && (usersServices.userInfo)?.admin" class="nav-item">
        <a class="nav-link btn primary-btn" routerLink="/create-lunch">Create Lunch</a>
      </div>
      </footer>-->
