/* You can add global styles to this file, and also import other style files */

body {
        background-color: #F7CE6B;
}
.img_home {
         margin-top: 40px;
    }

.attendance > img {
 width: 50px;
 height: 50px;
    }


