
<div *ngIf="error" class="alert alert-warning" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  {{error}}
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>Create Lunch Entry</h1>
        <div class="form-group">
          <label for="date">When is LunchClub?</label>
          <div id="date">
            <pre class="card card-block card-header"><em *ngIf="dt">{{ dt | date:'fullDate'}}</em></pre>
            <button class="btn btn-success" (click)="showDateModal()">Select Date</button>
          </div>
        </div>
        <div class="form-group">
          <label for="chef">Who is Cooking?</label>
          <input [(ngModel)]="chef"
                 [typeahead]="employees"
                 typeaheadOptionField="FirstName"
                 placeholder="Start typing"
                 id="chef"
                 name="chef"
                 class="form-control">
        </div>
        <button class="btn btn-success" (click)="createLunch()">Create</button>
      </div>
    </div>
</div>

<div bsModal #datePickerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Date Picker" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Select Date</h4>
      </div>
      <div class="modal-body align-self-center">
        <datepicker name="date" id="date" [(ngModel)]="dt" [minDate]="minDate" [showWeeks]="true"></datepicker>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" (click)="datePickerModal.hide()">Select</button>
        <button type="button" class="btn btn-secondary" (click)="datePickerModal.hide()">Close</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #lunchCreatedModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Good Job</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideLunchCreatedModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Lunch Entry Created!
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" (click)="hideLunchCreatedModal()">OK</button>
      </div>
    </div>
  </div>
</div>
